*{
  padding: 0;
  margin:0;
  box-sizing:border-box;
}
body{
  background-color:rgb(61, 61, 61);
}
#btn{
  text-align: center;
}
form{
  border: 1px solid rgb(30, 28, 28);
  padding: 10px;
  display: inline-block;
  /* position: absolute; */
  margin-left: 32% ;
  margin-top: 3%;
  border-radius: 5px;
  background-color: rgb(30, 28, 28);
  color: white;
  box-shadow: 5px 5px 20px 5px #888888;
  
}
h1{
  text-align: center;
}
